@import '../../metrics.module';

.imc-tmb {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;

  .imc {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  .tmb {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  .label {
    color: $secundaryColor;
    font-size: large;
  }
}
